{% include "header.html" %}
  <body>

  {% include "navbar.html" %}

    <section class='shadow'>
      <img src="{{ url_for('static', filename='poster.jpg') }}" class='poster' alt="">
    </section>

    <section class=''>

      <div class="container-fluid">
        {% if current_user.is_authenticated: %}
        <a href="{{url_for('add', user_id=current_user.id)}}" class='btn-grad btn btn-lg btn-block btn-danger border-0'>Add new Product</a>
        {% else: %}
        <a href="{{url_for('login')}}" class='btn-grad btn btn-lg btn-block btn-danger border-0'>Add new Product</a>
        {% endif %}
      </div>

      <!-- Cards -->
      <div class="container-fluid">
        <div class="row card-deck">

          {% for prod in prods: %}
            <div class="card box p-3 border-0">
              <a href={{url_for('show', pro_id=prod.id)}}>
                <img class="card-img-top pro_img" src={{prod.url}} alt="Card image cap">
                  <h3 class="card-title">{{prod.name}}</h3>
                  <h2 class='mt-auto price'>{{prod.price}}$</h2>
                  <a href="#" class='mt-auto buy-btn w-100 btn btn-lg btn-block btn-primary'>Buy Now</a>
                  <a href="{{url_for('addtocart', pro_id=prod.id)}}" class='mt-auto add-btn w-100 btn btn-lg btn-block btn-primary'>Add to Cart</a>
              </a>
            </div>
          {% endfor %}

        </div>
      </div>

    </section>

  {% include "footer.html" %}
  </body>
</html>
