
{% include "header.html" %}
  <body>

  {% include "navbar.html" %}

    <section class='bodi'>
      <div class="container-fluid">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li style="color:red">{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <form class="" action="{{url_for('login')}}" method="post">
          <h2>Email</h2>
          <input class="form-control w-100" name="email"  type="email" data-sb-validations="required">
          <h2>Password</h2>
          <input class="form-control w-100" name="password"  type="password" data-sb-validations="required">
          <button class="add-btn btn btn-lg btn-block btn-primary text-uppercas" id="submitButton" type="submit">Submit</button>
        </form>
      </div>
    </section>

  {% include "footer.html" %}
  </body>
</html>
