{% include "header.html" %}
  <body>

  {% include "navbar.html" %}

    <section class='bodi'>

            <div class="container-fluid">
              <div class="row show_board">

                <div class="col-md-6">
                  <img class='show_img w-100' src={{pro.url}} alt="img">
                </div>

                <div class="col-md-6 describe d-flex flex-column">
                  <h2 class='pro_head'>{{pro.name}}</h2>
                  <p>{{pro.describe}}</p>
                  <h2 class='mt-auto price'>{{pro.price}}$</h2>
                  <a href="#" class='mt-auto buy-btn w-100 btn btn-lg btn-block btn-primary'>Buy Now</a>
                  {% if current_user.is_authenticated: %}
                  <a href="{{url_for('addtocart', pro_id=pro.id)}}" class='mt-auto show_btn finish-btn btn btn-lg btn-block btn-primary'>Add to Cart</a>
                  {% else: %}
                  <a href="{{url_for('login')}}" class='mt-auto show_btn finish-btn btn btn-lg btn-block btn-primary'>Add to Cart</a>
                  {% endif %}
                </div>

              </div>
            </div>

    </section>

  {% include "footer.html" %}
  </body>
</html>
